.questionblock{
    display:flex;
    flex-direction: column;

}

.question{

}

.long {
    max-width:46em;
}

.long input{
    max-width:46em;
}

.short input{
    max-width:5em;
}

label{
    display:block; 
    padding-bottom:7px;
    width:100%;
}
/* When things need to be displayed in a single row */
.row{
    display: flex;
    flex-direction:column;
    width:100%;
}

.row label{
    display:block;
    padding-bottom:7px;
    width:100%;
}

.row input{
    max-width:22em;
}

.row div{
    padding-right:14px;
}

.part{
    /*display:block;*/
    padding-bottom:14px;
}

.smartCondensed {
    display:none !important;
    
}

.noSmartCondensed {
    
}



