body {
    background-color: #ececec  ;
    padding: 14px;
}

form {
   /* text-align:left;*/
}

#content{
    max-width:1100px;
    margin-left:auto;
    margin-right:auto;
    padding:10 20 10 20px;
    background-color:#ffffff;
}


h1{
    font-size:3em;
}

h2{
    padding-bottom:14px;
    font-size:1.5em;
}

input{
    width:auto; 
    height:auto;
    min-height:32px;
}

input[type="radio"]{
    min-height:0px;
}

input[type="checkbox"]{
    min-height:0px;
}

label{
    width:100%;
    padding-bottom:7px;
}

button{
    font:'Open Sans';
    font-size:1.3em;
    font-weight:300;
    background-color:#00bcd4;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    height:50px;
    width:33%;
    float:none;
    margin-top:21px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
}

button:hover{
    background-color:#00ACC1;
}


/*Styling for the preference choice options*/
#choices{
    width:100%;
    display:flex;
}

.option{
    width:50%;
    background-color:#ececec;
    margin:10px;
    border-radius:5px;
}

.optionContent {
    background-color:#fff;
    margin-left:10px;
    margin-right:10px;
    padding:5px;
}

.header{
    height:40px;
    padding-left:10px;  
}

.description{
    padding:10px;
    vertical-align:center;
    margin-bottom:5px;
}

#testError{
    visibility: hidden;
    display:none;
    background-color: #C62828;
    color: white;
    padding-left:10px;
    padding-right:10px;
}




/*If your screen is less than 1110px wide, you can't do the test */
@media only screen and (max-width:1100px){
    #startForm{
        visibility: hidden;
        display: none;
    }
    
    #testError{
        visibility: visible;
        display:inline-block;
    }
}

